.collection-card{
    height: 300px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.collection-card:hover img{
    transform: scale(1.2);
    transition: 0.8s;
    cursor: pointer;
}
.collection-card img{
    height: 100%;
    object-fit: cover;
}
.collection-info{
    background:linear-gradient(#0000001a, #000000ab);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 10px;
    color: #fff;
}